
.App-header {
  display: flex;
  flex-direction: column;
  background-color: #64d4e7;
  min-height: 10vh;
  justify-content: center;
  font-size: 20px;
  color: white;
  font-family: 'Rock Salt', cursive;
}

.cardrow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.cardcol {
  padding: 1em;
}

.stormy {
  font-family: 'Rock Salt', cursive;
  font-size: 20px;
}

.dblcardcol {
  display: flex;
  flex-direction: column;
  height: max-content;
}

.family {
  border-radius: 5%;
  border: 1px solid #cacaca;
  align-content: center;
}

.photo {
  max-width: 85%;
  border-radius: 5%;
  padding-top: 3px;
}

.photo:hover {
    transform:scale(1.01)
}